header {
    width: 100%;
    height: 100px;
    background-color: #536aff;
    border-radius: 10px;
}

body {
    background-color: #1f0e3e;
}

h2 {
    color: white;
    text-align: center;
}

.news {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: #746589;
    border-radius: 10px;
}

.track{
    display: inline-block;
    margin: 5%;
    width: 100px;
    height: 100px;
    background-color: #094cde;
    border-radius: 10px;
}